body{
    background: url(https://image.winudf.com/v2/image/Y29tLmNvZGVGYWN0b3J5LndhV2FsbHBhcGVyc19zY3JlZW5fMV8xNTMwNTY4MzE5XzA2Nw/screen-1.jpg?fakeurl=1&type=.jpg);
}


.chat{
    height: 400px;
    background-color: #A4A4A4;
    border: solid 1px black;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.frm{
    border-radius: 5px;
    height: 200px;
    background-color: #E6E6E6;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.emailMessage, .commentMessage, .ratingMessage{
    height: 30px;
    width: 200px;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    top: 580px;
}

.commentMessage{
    right: 930px;
}


.ratingMessage{
    right: 400px;
    color:red;
}

.wrong{
    border: dashed 2px red;
}

.send{
    border-radius: 4px;
    box-shadow: none;
    text-decoration: none;
}

li{
    border-bottom: white 2px dashed;
}









